.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .error-text {
    font-size: 4rem;
    color: red;
  }
  
  .warning-text {
    font-size: 2rem;
    color: red;
    font-weight: bold;
  }
  
  .go-home-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .go-home-button:hover {
    background-color: #0056b3;
  }
  